*~
*.fls
*.run.xml
*_latexmk
*blx.bib
*.bbl
*.blg
*.zip
*.log
/abstangent_x-inc.pdf
/tangent_x-inc.pdf
/images/abstangent_x-inc.pdf
/images/abstangent_x.aux
/images/nolimit-inc.pdf
/images/nolimit.aux
/images/tangent_x-inc.pdf
/images/tangent_x.aux
